#registration-modal,
#patient-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50ch;
  padding: 2em;
  border-radius: 0.5em;
  transition: transform 0.4s ease;
}

#registration-modal::backdrop,
#patient-modal::backdrop {
  background: hsla(0, 0%, 15.69%, 0.5);
  backdrop-filter: blur(0.3em);
}

#registration-modal.toggle {
  transform: scale(0);
}
